<br><br><br>

<%= simple_form_for(@review) do |f| %>
<p>
<%= f.label :content %><br>
<%= f.text_area :content, required:true %>
</p>
<%= f.hidden_field(:client_id)%>
<p>
<%= f.submit 'Write a Review' %>
<% end %>
</p>