<% if @appointment %>
  <h1>Reviews for <%= @appointment.treatment.title%></h1>
<% else %>
  <h1>All Reviews</h1>
<% end %>

<ul>
<% @reviews.each do |c|%>

    <li> <strong><%= c.appointment.treatment.title %></strong><br>
    Review By: <%= c.client.first_name %><br>
    "<%= c.comment%>" <br></li>
<% end %>	

<br><br>
         
            <div class="btn btn-light"> 
             <%= link_to "Write a Review »", new_review_path %>
          </div>
          </div>